<html>
<head>
    <title>Paralax</title>
</head>
<body>

<style>
    .parallax-window {
        min-height: 400px;
        background: transparent;
    }
</style>

<div class="parallax-window" data-parallax="scroll" data-image-src="../template/img/header-bg.jpg"></div>
<img src="../template/img/header-bg.jpg" width="189" height="255" alt="lorem">
<p>fffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfd
    fffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfdfffffffffffffffffffffffdsfsdsdfdsfsdfsdfd
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../template/js/parallax.js"></script>
</body>
</html>